<!-- Begin page -->
<div class="wrapper">

    <app-sidebar></app-sidebar>
   
    <!-- ============================================================== -->
    <!-- Start Page Content here -->
    <!-- ============================================================== -->

    <div class="content-page">
        <div class="content">
           
            <app-navbar></app-navbar>

            <!-- Start Content-->
            <div class="container-fluid">

                <!-- start page title -->
                <div class="row">

                    <router-outlet></router-outlet>

                </div>
                <!-- end page title -->



            </div>
            <!-- container -->

        </div>
        <!-- content -->

        <app-footer></app-footer>

    </div>

    <!-- ============================================================== -->
    <!-- End Page content -->
    <!-- ============================================================== -->


</div>
<!-- END wrapper -->
