 <!-- ========== Left Sidebar Start ========== -->
 <div class="leftside-menu">

    <!-- LOGO -->
    <a href="index.html" class="logo text-center logo-light">
        <span class="logo-lg">
            <img src="assets/images/logo.png" alt="" height="16">
        </span>
        <span class="logo-sm">
            <img src="assets/images/logo_sm.png" alt="" height="16">
        </span>
    </a>



    <div class="h-100" id="leftside-menu-container" data-simplebar>

        <!--- Sidemenu -->
        <ul class="side-nav">

            <li class="side-nav-title side-nav-item">Navigation</li>

            <li class="side-nav-item">
                <a data-bs-toggle="collapse" class="side-nav-link" [routerLink]="['/dashboard/gestiondepartement']">
                    <i class="uil-home-alt"></i>
                    <span> Gestion Departement </span>
                </a>

            </li>
            <li class="side-nav-item">
                <a data-bs-toggle="collapse" class="side-nav-link" [routerLink]="['/dashboard/gestionclient']">
                    <i class="uil-home-alt"></i>
                    <span> Gestion Client </span>
                </a>

            </li>
            <li class="side-nav-item">
                <a data-bs-toggle="collapse" class="side-nav-link" [routerLink]="['/dashboard/gestionemployee']">
                    <i class="uil-home-alt"></i>
                    <span> Gestion Employee </span>
                </a>

            </li>





        </ul>



    </div>
    <!-- Sidebar -left -->

</div>
<!-- Left Sidebar End -->